<footer>
    <div class="footer-section legal" colspan="2">
      <h3>Legal Notice</h3>
      <p>&copy; 2024 ShouryuGAMES - Iván Longaric Montaño</p>
      <p>Nintendo holds the copyright for the games and characters featured on this site. This site is not affiliated with or endorsed by Nintendo.</p>
    </div> 
  
    <div class="footer-section links">

      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/games">Games</a></li>
        <li><a href="/library">Library</a></li>
        <li><a href="/account">Account</a></li>
      </ul>
    </div>
  
    <div class="footer-section contact">
      <h3>Contact</h3>
      <p>Email: longaricivan@gmail.com</p>
      <p>Phone: +591 78644946</p>
    </div>

  </footer>
  <script src="assets/js/animate.js"></script>
</body>
</html>