<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-xr1i2tVscxT6iB9Jjx0pEXpCNxne1j5YGXbik1c5Sp4AwFEGQ2Xs9Z2I57Xz1eiw7y9Tt71LI1T+Pii+ZyD3jQ==" crossorigin="anonymous" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>ShouryuGames</title>
</head>
<body>
    <header>
        <div class="container">
          <nav>
            <div class="logo">
            <a href="/">
              <img src="assets/images/logo.png" alt="" />
              <h2><span>S</span>houryu<span>GAMES</span></h2>
            </a>
            </div>
            <ul>
              <div class="btn">
                <i class="fas fa-times close-btn"></i>
              </div>
              <li><a href="/">Home</a></li>
              <li><a href="/games">Games</a></li>
              <li><a href="/library">Library</a></li>
              <li><a href="/account">Account</a></li>
            </ul>
            <div class="btn">
              <i class="fas fa-bars menu-btn"></i>
            </div>

                <h4 class="user-cash"><span>Monto: </span>0$</h4>
          </nav>
        </div>
      </header>