<%- include("partials/header account.ejs") %>

<main>
    <section class="sctn-account">
        <div class="profile">
            <img src="assets/images/profile.jpg" alt="">
            <h3>Username</h3>
            <h4>Full Name</h4>
            <h4>Country</h4>
        </div>
        <div class="settings">
          <ul>
            <li>Personal Information</li>
              <li>Payment Method</li>
              <li>Game Preferences</li>
              <li>Settings</li>
          </ul>
        </div>
    </section>
  </main>

<%- include("partials/footer.ejs") %>