<%- include("partials/header.ejs") %>

<main>
    <section class="games-1">
      <article class="game1 animate"><img src="assets/images/boxArt/Super Mario Bros. (USA).png" alt=""></article>
      <article class="game2 animate"><img src="assets/images/boxArt/Contra (USA).png" alt=""></article>
      <article class="game3 animate"><img src="assets/images/boxArt/Adventure Island (USA).png" alt=""></article>
      <article class="game4 animate"><img src="assets/images/boxArt/Super Mario Bros. 2 (USA).png" alt=""></article>
      <article class="game5 animate"><img src="assets/images/boxArt/Super Mario Bros. 3 (USA).png" alt=""></article>
      <article class="game6 animate"><img src="assets/images/boxArt/Final Fantasy (USA).png" alt=""></article>
      <article class="game7 animate"><img src="assets/images/boxArt/Batman Returns (USA).png" alt=""></article>
      <article class="game8 animate"><img src="assets/images/boxArt/Bubble Bobble (USA).png" alt=""></article>
      <article class="game9 animate"><img src="assets/images/boxArt/M.U.S.C.L.E. (USA).png" alt=""></article>
      <article class="game10 animate"><img src="assets/images/boxArt/Pac-Man (USA) (Namco).png" alt=""></article>
      <article class="game11 animate"><img src="assets/images/boxArt/Spider-Man - Return of the Sinister Six (USA).png" alt=""></article>
      <article class="game12 animate"><img src="assets/images/boxArt/Mike Tyson's Punch Out!! (USA).png" alt=""></article>
      <article class="game13 animate"><img src="assets/images/boxArt/Ninja Gaiden (USA).png" alt=""></article>
      <article class="game14 animate"><img src="assets/images/boxArt/Commando (USA).png" alt=""></article>
      <article class="game15 animate"><img src="assets/images/boxArt/Metal Gear (USA).png" alt=""></article>
      <article class="game16 animate"><img src="assets/images/boxArt/Kid Icarus (USA).png" alt=""></article>
      <article class="game17 animate"><img src="assets/images/boxArt/Dr. Mario (USA).png" alt=""></article>
      <article class="game18 animate"><img src="assets/images/boxArt/Double Dragon (USA).png" alt=""></article>
      <article class="game19 animate"><img src="assets/images/boxArt/Super Mario Bros. (USA).png" alt=""></article>
      <article class="game20 animate"><img src="assets/images/boxArt/Contra (USA).png" alt=""></article>
      <article class="game21 animate"><img src="assets/images/boxArt/Adventure Island (USA).png" alt=""></article>
      <article class="game22 animate"><img src="assets/images/boxArt/Super Mario Bros. 2 (USA).png" alt=""></article>
      <article class="game23 animate"><img src="assets/images/boxArt/Super Mario Bros. 3 (USA).png" alt=""></article>
      <article class="game24 animate"><img src="assets/images/boxArt/Final Fantasy (USA).png" alt=""></article>
      <article class="game25 animate"><img src="assets/images/boxArt/Batman Returns (USA).png" alt=""></article>
      <article class="game26 animate"><img src="assets/images/boxArt/Bubble Bobble (USA).png" alt=""></article>
      <article class="game27 animate"><img src="assets/images/boxArt/M.U.S.C.L.E. (USA).png" alt=""></article>
      <article class="game28 animate"><img src="assets/images/boxArt/Pac-Man (USA) (Namco).png" alt=""></article>
      <article class="game29 animate"><img src="assets/images/boxArt/Spider-Man - Return of the Sinister Six (USA).png" alt=""></article>
      <article class="game30 animate"><img src="assets/images/boxArt/Mike Tyson's Punch Out!! (USA).png" alt=""></article>
      <article class="game13 animate"><img src="assets/images/boxArt/Ninja Gaiden (USA).png" alt=""></article>
      <article class="game14 animate"><img src="assets/images/boxArt/Commando (USA).png" alt=""></article>
      <article class="game15 animate"><img src="assets/images/boxArt/Metal Gear (USA).png" alt=""></article>
      <article class="game16 animate"><img src="assets/images/boxArt/Kid Icarus (USA).png" alt=""></article>
      <article class="game17 animate"><img src="assets/images/boxArt/Dr. Mario (USA).png" alt=""></article>
      <article class="game18 animate"><img src="assets/images/boxArt/Double Dragon (USA).png" alt=""></article>
      <article class="game1 animate"><img src="assets/images/boxArt/Super Mario Bros. (USA).png" alt=""></article>
      <article class="game2 animate"><img src="assets/images/boxArt/Contra (USA).png" alt=""></article>
      <article class="game3 animate"><img src="assets/images/boxArt/Adventure Island (USA).png" alt=""></article>
      <article class="game4 animate"><img src="assets/images/boxArt/Super Mario Bros. 2 (USA).png" alt=""></article>
      <article class="game5 animate"><img src="assets/images/boxArt/Super Mario Bros. 3 (USA).png" alt=""></article>
      <article class="game6 animate"><img src="assets/images/boxArt/Final Fantasy (USA).png" alt=""></article>
      <article class="game7 animate"><img src="assets/images/boxArt/Batman Returns (USA).png" alt=""></article>
      <article class="game8 animate"><img src="assets/images/boxArt/Bubble Bobble (USA).png" alt=""></article>
      <article class="game9 animate"><img src="assets/images/boxArt/M.U.S.C.L.E. (USA).png" alt=""></article>
      <article class="game10 animate"><img src="assets/images/boxArt/Pac-Man (USA) (Namco).png" alt=""></article>
      <article class="game11 animate"><img src="assets/images/boxArt/Spider-Man - Return of the Sinister Six (USA).png" alt=""></article>
      <article class="game12 animate"><img src="assets/images/boxArt/Mike Tyson's Punch Out!! (USA).png" alt=""></article>
      <article class="game13 animate"><img src="assets/images/boxArt/Ninja Gaiden (USA).png" alt=""></article>
      <article class="game14 animate"><img src="assets/images/boxArt/Commando (USA).png" alt=""></article>
      <article class="game15 animate"><img src="assets/images/boxArt/Metal Gear (USA).png" alt=""></article>
      <article class="game16 animate"><img src="assets/images/boxArt/Kid Icarus (USA).png" alt=""></article>
      <article class="game17 animate"><img src="assets/images/boxArt/Dr. Mario (USA).png" alt=""></article>
      <article class="game18 animate"><img src="assets/images/boxArt/Double Dragon (USA).png" alt=""></article>
      <article class="game19 animate"><img src="assets/images/boxArt/Super Mario Bros. (USA).png" alt=""></article>
      <article class="game20 animate"><img src="assets/images/boxArt/Contra (USA).png" alt=""></article>
      <article class="game21 animate"><img src="assets/images/boxArt/Adventure Island (USA).png" alt=""></article>
      <article class="game22 animate"><img src="assets/images/boxArt/Super Mario Bros. 2 (USA).png" alt=""></article>
      <article class="game23 animate"><img src="assets/images/boxArt/Super Mario Bros. 3 (USA).png" alt=""></article>
      <article class="game24 animate"><img src="assets/images/boxArt/Final Fantasy (USA).png" alt=""></article>
      <article class="game25 animate"><img src="assets/images/boxArt/Batman Returns (USA).png" alt=""></article>
      <article class="game26 animate"><img src="assets/images/boxArt/Bubble Bobble (USA).png" alt=""></article>
      <article class="game27 animate"><img src="assets/images/boxArt/M.U.S.C.L.E. (USA).png" alt=""></article>
      <article class="game28 animate"><img src="assets/images/boxArt/Pac-Man (USA) (Namco).png" alt=""></article>
      <article class="game29 animate"><img src="assets/images/boxArt/Spider-Man - Return of the Sinister Six (USA).png" alt=""></article>
      <article class="game30 animate"><img src="assets/images/boxArt/Mike Tyson's Punch Out!! (USA).png" alt=""></article>
      <article class="game13 animate"><img src="assets/images/boxArt/Ninja Gaiden (USA).png" alt=""></article>
      <article class="game14 animate"><img src="assets/images/boxArt/Commando (USA).png" alt=""></article>
      <article class="game15 animate"><img src="assets/images/boxArt/Metal Gear (USA).png" alt=""></article>
      <article class="game16 animate"><img src="assets/images/boxArt/Kid Icarus (USA).png" alt=""></article>
      <article class="game17 animate"><img src="assets/images/boxArt/Dr. Mario (USA).png" alt=""></article>
      <article class="game18 animate"><img src="assets/images/boxArt/Double Dragon (USA).png" alt=""></article>
    </section>
</main>

<%- include("partials/footer.ejs") %>